body{
    background-color: #ffff;
    height: 100%;  
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    
}
header {background-color: white;
height: 100%;
width: 100%;
margin: 0;
display: flex;
    flex-direction: column;

    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    height: 100%;
}


.header-container img{
    height: 40px;
    width: auto;
   
}

.header-container h4{
    box-sizing: border-box;
    padding: 5px 10px;
    color: rgb(63, 110, 170);
    border: 3px solid rgb(32, 32, 97);
    background-color: aqua;
    border-radius: 10px;
}

.header-container h4:hover{
    background-color: rgb(32, 32, 97);
    color: aqua;
}

.header-container a{
    font: 20px Arial, Helvetica, sans-serif;
    color: rgb(63, 110, 170);
    
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 8rem;
    font-size: 20px;
    line-height: 40px;
}

.login-container {
     margin: 0 auto;
     text-align: center;
}

#sign {
   text-align: center;
   font-weight: bold;
}


#google{
    width: 100%;
    height: 40px;
    color: #f2f2f2;
    box-sizing: border-box;
    background-color: rgb(41, 52, 201); ;
    font-size: 16px;
    text-align: center;
    padding: 10px 65px;
       
}

#apple{
    width: 100%;
    height: 40px;
    color:#f2f2f2;
    box-sizing: border-box;
    background-color: rgb(1, 2, 12); ;
    text-align: center;
    font-size: 16px;
    padding: 10px 70px;
}



#email{
    width: 80%;
    font-size: 16px;
    height: 40px;
    margin: 10px 0;
}

#password{
    width: 80%;
    font-size: 16px;
    height: 40px;
    margin: 10px 0;
}

label {
    font-style: italic;
       
}

 button{
     padding: 10px;
     background-color: rgb(24, 24, 209);
     color: white;
 }

 button:hover{
  background-color: rgb(70, 83, 161);
 }


 #blank {
        font-weight: bold;
        color: rgb(24, 18, 18);
     }
 
     #page{
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: rgb(24, 18, 18);

     }

     @media screen and (max-width: 992px) {
         .header-container {
             flex-direction: column;
             width: 100%;
             margin: 0;
         }

         .header-container img {
             margin-bottom: 20px;
         }

         .main-container{
             flex-direction: column;
             margin: 30px 0;
         }

     }

     @media screen and (max-width: 600px) {
        .header-container{
            width: 100%;
            flex-direction: column;
            margin: 0;
        }

        .header-container img {
            margin-bottom: 20px;
        }

        .main-container{
            flex-direction: column;
            margin:30px 0;
        }
     }